    
      {% if error %}

            <div  class="alert alert-primary animated fadeIn" role="alert">
              {{error}}
            </div>

      {% endif %}



      <h2>Campaña {{base.campania.nombre}}</h2>
<!-- 
      Formulario Base -->


      <div class='row'>

            {% for field in form %}
              <div class="form-group col-md-3 ">

                  {{ field.label_tag }} {{ field }}
                  
              </div>
            {% endfor %}

      </div>
  

<!--     
      Formulario Agendar -->

        <h3>Agendar</h3>

        <form action="/agente/{{base.id}}?estado=2" method="GET">
        {% csrf_token %}


        {% for field in agenda %}
        <div class="form-group ">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
        {% endfor %}

        <input class='btn btn-primary' type="submit" value="Guardar">
        </form>



   