    
      {% if error %}

            <div  class="alert alert-primary animated fadeIn" role="alert">
              {{error}}
            </div>

      {% endif %}



      <h2>Campaña {{base.campania.nombre}}</h2>
<!-- 
      Formulario Base -->


      <div class='row'>

            {% for field in form %}
              <div class="form-group col-md-3 ">

                  {{ field.label_tag }} {{ field }}
                  
              </div>
            {% endfor %}

      </div>
  

<!--     
      Formulario Agendar -->

        <h3>Agendar</h3>

        <form action="/agente/{{base.id}}" method="GET">
        {% csrf_token %}


        <div class="form-group">

          <input type="hidden" class='form-control' value='2' name="estado"></input>
          </div>
          <label>Fecha</label>
           <div class="form-group col-md-3">
          <input type="date" class='form-control' name="agente"></input>
        </div>
         <div class="form-group">
           <label>Descripcion</label>
          <textarea type="text" class='form-control' name="descripcion"></textarea>

       
        </div>
        

        <input class='btn btn-primary' type="submit" value="Guardar">
        </form>



   